<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/codemirror/CodeMirror/lib/codemirror.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
